.wp-block-image {
  margin-bottom: 3rem;
  & > .size-medium {
    & > img {
      padding: 0 2rem;
      max-width: 100%;
      padding: 0 2rem;
      height: calc(168 / 376 * 100vw - 14px);
      object-fit: cover;
    }
  }
}
.wp-block-image.size-full{
	& > img {
		object-fit: cover;
		height: calc(124 / 375 * 100vw);
		width: 100% !important;
		max-height: 500px;
    padding: 0;
	}
}
.wp-block-media-text__media {
	& > img {
		object-fit: contain;
		height: calc(90 / 375 * 100vw);
		width: 100%;
	}
}

 @include mq () {
   .wp-block-image {
     margin-bottom: 6rem;
   }
 }