.wp-block-media-text {
	margin-bottom: 3rem;
}

.wp-block-media-text .wp-block-media-text__content {
	padding-right: 10px;
}

.wp-block-media-text .wp-block-media-text__content {
	padding-left: 10px;
}

 @include mq () {
   .wp-block-media-text {
     margin-bottom: 6rem;
   }
  .wp-block-media-text__media {
  & > img {
      object-fit: cover;
      height: calc(358 / 1920 * 100vw);
      width: 100%;
    }
  }
}