.wp-caption {
  text-align: center;
  max-width: 100%;
}
.wp-caption-text {
  display: inline-block;
  text-align: left;
  color: #8a8a8a;
}
.gallery-caption {
  width: 100%;
  overflow: hidden;
}
.bypostauthor {
  background: mediumslateblue;
}
.alignright {
  display: block;
  margin-right: auto;
}
.alignleft {
  display: block;
  margin-left: auto;
}
.aligncenter {
  display: block;
}
